# 鏋勫缓浜х墿
build/
build_*/
__pycache__/
*.pyc
*.o
*.obj
*.map

# 绀轰緥/搴旂敤鐨勭紪璇戣緭鍑?examples/*/bin/

# 棰勭紪璇戜氦浠樺簱锛氭殏涓嶅叆搴擄紙闇€瑕佹椂鐢?git add -f 寮哄埗娣诲姞锛?LTM_CTRL/bin/**/*.a
LTM_FOC/bin/**/*.a
LTM_HAL/*/bin/**/*.a
LTM_HAL/*/examples/*/lib/*.a

# 缂栬緫鍣ㄤ复鏃舵枃浠?*.swp
*.bak
LTM_HAL/examples/*/lib/*.a
